{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "react-hot-loader/babel",
        ["@babel/plugin-transform-runtime",
            {
                "corejs": 3
            }
        ],
        "@babel/plugin-syntax-dynamic-import",
        ["import", { 
            "libraryName": "antd", 
            "style": "css"  // `style: true` 会加载 less 文件
        }]
    ]
}