.com-mana-container{
  overflow-y: auto;
  .com-mana-header{
    border: 1px solid #f0f0f0;
    margin-bottom: 0;
    padding: 10px 0 10px 24px;
    border-bottom: none;
    background: white;
  }
  .com-list-col{
    padding: 5px 0;
  }
  .same-group-0{
    background: rgba(24,115,255,0.2);
  }
  .same-group-1{
    background: rgba(24, 115, 255, 0.3);
  }
  .same-group-2{
    background: rgba(24, 115, 255, 0.5);
  }
  .same-group-3{
    background: rgba(24, 115, 255, 0.7);
  }
  .same-group-3{
    background: rgba(24, 115, 255, 0.9);
  }
}

.repeat-hint{
  padding-left: 80px;
  color: #ff4d4f;
}
@media (max-width: 576px){
  .repeat-hint{
    padding-left: 0;
  }
}
@media (min-width: 1201px) and (max-width: 1600px){
  .com-list-status{
    text-align: right;
    .ant-tag{
      margin-right: 0;
    }
  }
}
